*, *:before, *:after{
    box-sizing: border-box;
}

.body {
    margin:0;
    height: 100vh;
    background:black;
}

.container {
    height: 100vh;
}

.container:second-child{
    display:grid;
    grid-template-rows: 70% 30% auto;
}

  .skyImage {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -3;
  }

.sunImage {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.cityImage {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  z-index: -1;
}

.page-style{
    color:white;
    background-color:black;
}

.link {
    color: white;
}